table.data-grid-object-alpha td.inlineEdit .field-label {
	display: none;
}

div.data-grid-container {
	margin: 0 10px 0 10px;
}

table.data-grid-object-alpha li {
	list-style-type: none;
}

tr.inlineEditable:hover td.inline-indicator {
	background: url(../images/icons/editpencil.png) center left no-repeat;
}

td.hidden {
	padding: 0px 0px 0px !important;
}

table.data-grid-object-alpha input[type=checkbox] {
	border: none;
}

table.data-grid-object-alpha .dataGrid-overflow thead tr {
	background-color: #0074D9;
}

td.inlineEdit input {
	font-size: 12px;
	height: 15px;
	margin: 0 !important;
}

td.inlineEdit select {
	font-size: 12px;
	height: 18px;
	margin: 0 !important;
}

.inlineSaveCancel {
	position: absolute;
}

.inlineAction:focus {
	border: 1px solid black;
}

.inlineSaveCancel a {
	display: block;
	height: 13px;
	width: 13px;
}

tr.rowSelected td {
	font-weight: bold;
}

tr.rowErrors,tr.rowErrorMessages {
	background: #ffefef !important;
	border: 2px solid #FBC2C4 !important;
}

tr.rowErrors {
	border-bottom: 0 !important;
}

tr.rowErrors td {
	border-bottom: 0 !important;
}

tr.rowErrorMessages {
	border-top: 0 !important;
	color: #8A1F11;
}

tr.inlineEdit,.inlineSaveCancel {
	background: #F7FCFF;
}

.input-error {
	border: 2px solid #FBC2C4 !important;
}

a.inlineSave {
	background: url(../images/icons/check.png) center left no-repeat;
}

a.inlineCancel {
	background: url(../images/icons/delete.png) center left no-repeat;
}

tr.standard-row td {
	white-space: nowrap;
}

table.data-grid-object-alpha tr.standard-row div.field-errors {
	color: red;
}

.datagrid-search-field {
	margin: 0 !important;
	width: 99% !important;
	border: #cfcfcf solid 1px !important;
	padding: 2px 0 0 5px !important;
	margin: 0 12px 5px 0px !important;
	color: #777 !important;
	font: normal 15px Arial, Helvetica, sans-serif !important;
	float: left !important;
	height: 26px !important;
}

.searchContainer {
	border: #f1f1f1 solid 2px;
	background: #f3f3f3;
	height: 50px;
	padding: 12px 8px 8px 8px;
	margin: 0 10px 10px 10px;
}

.searchButton {
	float: left !important;
	height: 30px !important;
	margin: 0 0 0 -86px !important;
	padding: 4px 10px !important;
}

.searchButton span {
	color: #000 !important;
	margin: 0 5px !important;
	font-size: 12px !important;
}

.searchContainer .searchFilter {
	float: left;
	display: inline;
	margin: -5px 2px 0 1px;
	background: #e7e7e7;
	padding: 1px 8px;
	overflow: hidden;
	color: #777;
	font: normal 11px Arial, Helvetica, sans-serif;
}

.results-separator {
	color: #E4E4E4;
	padding: 4px;
}

.column-select-dropdown {
	display: block;
	position: absolute;
	background: white;
	padding: 10px;
	max-height: 175px;
	overflow: auto;
	z-index: 10;
}

.column-select-dropdown ul {
	margin: 0px 10px 10px 10px;
}

.column-select-dropdown label {
	font-weight: normal;
	font-size: 10px;
}

.column-select-dropdown .column-list-heading {
	font-weight: bold;
}

.column-select-dropdown li {
	margin-bottom: 4px;
}

.column-select-dropdown a {
	margin-left: 10px
}

.shadow {
	box-shadow: 3px 3px 4px 2px #A1A1A1;
	-moz-box-shadow: 3px 3px 4px 2px #A1A1A1;
	-webkit-box-shadow: 3px 3px 4px 2px #A1A1A1;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#A1A1A1')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,
		Color='#A1A1A1' );
}

a.show-selectable-columns {
	padding-right: 10px;
}

.dataGrid-edit-field {
	display: inline;
}

table.data-grid-object-alpha .required {
	float: left;
	margin-right: 0.4em;
	display: none;
}

table.data-grid-object-alpha .required-header {
	margin-left: 0.2em;
	color: #C32929;
}

table.data-grid-object-alpha thead.results td.data-grid-title {
	font-weight: bold;
	padding: 4px 0px 3px 5px;
}

table.data-grid-object-alpha thead.results tr.header-results td button {
	margin-top: 2px;
	margin-left: 2px;
}

table.table-below-req {
	border-spacing: 10px 10px;
  	padding: 0; 	
	color:#ff0000!important;
	width: 340px;
}

.dataViewControl {
	padding: 0;
	border: 1px solid #D7D4B8;
	margin: 8px 0;
	position: relative;
	border-radius: 4px;
}

.header-control {
	float: left;
}

.header-control .dataViewControl {
	width: 250px;
}

.dataViewSidebar {
	width: 200px;
}

.dataViewControlConfig {
	position: absolute;
	background: #FFF;
	border: 1px solid black;
	z-index: 1001;
	box-shadow: 3px 3px 4px 2px #A1A1A1;
	padding: 1em;
	font-weight: normal;
	font-size: 10px;
}

.dataViewControlConfig li.column-list-heading {
	font-weight: bold;
	padding-bottom: 3px;
}

.dataViewControlConfig>ul {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}

.dataViewControlConfig   ul {
	margin-bottom: 1em;
}

.dataViewControlConfig li {
	white-space: nowrap;
}

.dataViewControlConfig li a {
	float: none;
}

#dataViewControlOverlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.dataViewControlHeader li {
	clear: both;
}

.dataViewControlHeader a {
	float: right;
	line-height: 20px;
}

.dataViewControlHeader a + a {
	padding-right: 8px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dataViewControlBody .required {
	display: none;
}

.dataViewControlBody a span.remove {
	font-size: 1.5em;
	line-height: .8em;
	vertical-align: text-top;
}

.dataViewContainer h3 {
	background: #9F9F9F;
	padding: 11px 0 9px 6px;
	color: #FFF;
	white-space: nowrap;
}

.data-grid-filters label {
	display: block;
	margin-bottom: 4px;
}

.data-grid-filters input {
	height: 17px;
	line-height: 1.5;
	font-size: 12px;
}

.data-grid-filters input, .data-grid-filters select {
	margin-bottom: 8px;
	width: 170px;
}
.data-grid-filters input[type="checkbox"] {
	width: auto;
}

.data-grid-filters .btn {
	float: right;
	clear: right;
}

.data-grid-filters .checkbox > label {
	display:inline;
}

.data-grid-filters .checkbox input {
	height: initial;
	width: initial;
}

#shoppingCart .dataViewControlBody {
	height: 100px;
	overflow-x: auto;
}

.dataViewContainer {
	margin: .5em 1.4em 1.4em 1.4em;
}

.dataViewContainer .header {
	float: left;
	padding: 0;
	border: 1px solid #D7D4B8;
	margin: 8px 0;
	border-radius: 4px;
}

.header-control {
	margin-right: 8px;
}

.header + .header {
	margin-left: 8px;
}

#data-grid-selection {
	overflow-y: auto;
	height: 8em;
}

div.dataViewContainer li.header a {
	vertical-align: middle;
	color: #60A0C8
}

div.dataViewContainer li.header a .remove {
	line-height: .5em;
	font-size: 1.5em;
}

div.dataViewContainer li.header a.remove:hover {
	color: #4089B5;
}

div.dataViewContainer li.search {
	max-width: 30em;
	min-width: 20em;
}

div.dataViewContainer .search-box-container {
	background: #E6E6E6;
	padding: .6em;
	height: 8em;
}

div.dataViewContainer ul.search-box li {
	float: left;
}

div.dataViewContainer li.search button.search {
	margin: 0px;
	margin-left: .3em;
}

div.dataViewContainer li.search input {
	border: #DADADA 1px groove;
	border-right: none;
	height: 18px;
}

div.dataViewContainer li.search li.clear-search {
	border: #DADADA 1px groove;
	border-left: none;
	background: #fff;
	height: 20px;
	padding: 0px;
	padding-left: .3em;
	padding-right: .2em;
	color: #B3CFFF;
	cursor: pointer;
	font-size: 1.8em;
	vertical-align: middle;
	line-height: .85em;
}

div.dataViewContainer li.clear-search a:hover {
	color: #005FAD !important;
}

div.dataViewContainer li.select {
	max-width: 25em;
	min-width: 20em;
}

div.dataViewContainer .heading {
	font-size: 1.7em;
	color: #0074D9;
	padding-left: 4px;
}

.dataViewControlHeader {
	color: #0074D9;
	background-color: #FDF8A0;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding: 8px;
}

.dataViewControlHeader h4 {
	color: #0074D9;
	font-size: 18px;
	line-height: 20px;
	display: inline-block;
}

div.dataViewContainer .title h4 .number {
	color: #9BBEFA;
	margin-right: 8px;
}

div.dataViewContainer .sub-title {
	font-size: .9em;
	padding-bottom: .3em;
}

div.dataViewContainer .sub-title a {
	vertical-align: baseline !important;
}

.dataViewControlBody {
	padding: 8px;
	background-color: #FFFEE7;
	border-radius: 0 0 4px 4px;
}

div.dataViewContainer .dataViewControlBody {
	min-height: 8em;
}

div.dataViewContainer ul.selection {
	font-size: .8em;
}

div.dataViewContainer ul.task-list {
	width: 30em;
}

div.dataViewContainer ul.task-list li {
	display: inline-block;
	width: 14em;
	margin-bottom: 4px;
}

div.dataViewContainer ul.task-list li input {
	border: none;
	float: left;
	margin-right: .2em;
}

div.dataViewContainer div.data-grid-container {
	margin: 0px !important;
}

div.dataViewContainer div.data-grid-container.full-page {
	width: 100%;
	max-width: 100%;
}

div.dataViewContainer div.dataGrid-overflow { /*width: 75% !important;
	max-width: 75% !important;*/
	min-height:260px;
	height: auto !important;
	height: 260px;
}

a.show-selectable-filters {
	background: url(../images/icons/dropdown.png) center right no-repeat;
	padding-right: 10px;
	padding-left: 10px;
}

.filter-select-dropdown {
	display: block;
	position: absolute;
	background: white;
	padding: 10px;
	z-index: 1000;
}

.filter-select-dropdown .filter-list-heading {
	font-weight: bold;
	padding-bottom: 3px;
}

.filter-select-dropdown ul {
	margin: 0px 10px 10px 10px;
}

.filter-select-dropdown label {
	font-weight: normal;
	font-size: 10px;
}

.filter-select-dropdown .column-list-heading {
	font-weight: bold;
	padding-bottom: 3px;
}

.filter-select-dropdown a {
	margin-left: 10px
}

.shadow {
	box-shadow: 3px 3px 4px 2px #A1A1A1;
	-moz-box-shadow: 3px 3px 4px 2px #A1A1A1;
	-webkit-box-shadow: 3px 3px 4px 2px #A1A1A1;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#A1A1A1')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,
		Color='#A1A1A1' );
}

.manageButtons {
	margin-right: 2px;
	padding: 0px 2px 0px 0px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  color: #333333;
  background-color: #fefefe;
  background: linear-gradient(to bottom, #ffffff, #fefefe, #dedede);
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default .badge {
  color: #ffffff;
  background-color: #fff;
}

.btn-primary {
  color: #ffffff;
  background: linear-gradient(to bottom, #4694D7, #428bca, #3372A7);
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  background: linear-gradient(to bottom, #05C702, #049F02, #037601);
  border-color: #459F45;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  background: linear-gradient(to bottom, #05AC02, #047C02, #036801);
  border-color: #3D8C3D;
}

.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 2px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.filters-manage-list li {
	padding: 2px 0;	
}