.nav-primary {
	border-bottom: 0;
}

.nav-primary > li > a {
	font-size: 16px;
	color: #fff;
	padding: 4px 10px;
	background-color: #012D8F;
	border-color: transparent;
	z-index: 1;
}

.nav-primary > li > a:hover {
	background-color: #012D8F;
	border-color: transparent;
}

.nav-primary > li.active > a, .nav-primary > li.active > a:hover, .nav-primary > li.active > a:focus {
	background-color: #fff;
	border-color: #012D8F;
	color: #012D8F;
	border-bottom-color: transparent;
}

.nav-primary .open > a, .nav-primary .open > a:hover, .nav-primary .open > a:focus {
	background-color: #fff;
	border-color: #012D8F;
	color: #012D8F;
	border-bottom-color: transparent;
	z-index: 1001;
}

.nav-primary .nav-description {
	font-size: 12px;
	color: gray;
	white-space: normal;
	font-weight: normal;
	line-height: 14px;
}

.nav-primary .dropdown-header {
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

.nav-primary .dropdown-menu {
	border-top-color: transparent;
	font-size: 16px;
}

.nav-primary .dropdown-menu a {
	color: #428bca;
	font-weight: bold;
}

.nav-primary .dropdown-menu > li {
	width: 440px;
}

.nav-primary .dropdown-menu > li > a {
	padding: 1px 20px;
}

.nav-primary .dropdown-menu > li > a:hover {
	color: #428bca;
}

.header-logo {
	margin-bottom: 8px;
}

.nav-list-primary {
	margin-top: 3px;
	font-weight: bold;
	font-size: 13px;
}

.nav-list-primary > li + li {
	border-left: 1px solid #DADADA;
}

.content-body {
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .175);
	box-shadow: 0 0 12px rgba(0, 0, 0, .175);
}

.footer {
	margin: 25px 0;
}