@charset "utf-8";


/* CSS MODIFICATION FOR MAKING 2 COLUMN LAYOUT, VERSION ALPHA
-------------------------------------------------------------------------------------*/


	/* ----- CONTAINERS: PAGE CONTENT ------------------------------------ */
	#page-content-layer-alpha {
		padding-left: 0;	/* A content-column-alpha width */
	}
	
	
		/* ----- PAGE ONTENT. LEFT. DATA VIEWS --------------------------- */
		#content-column-beta {
			width: 0;			/* A content-column-alpha width */
			right: 0;			/* A content-column-alpha width */
			display: none;
		}
		
		
/* EXPLANATIONS AND EXAMPLES
-------------------------------------------------------------------------------------*/


/* ----- CSS GUIDELINES & COMPRESS THIS CSS FILE ----- */

	/*
	CSS Guidelines: http://chalkboard.ic.ncs.com/confluence/pages/viewpage.action?pageId=51650000
	
	Do not forget to duplicate and compress this CSS file for production.  Compress
	removes comments and extra lines, thus reducing overall file sizes and optimizes
	front-end performance and response times.
	
	Example: http://www.cssdrive.com/index.php/main/csscompressor
	*/