@charset "utf-8";


/* CSS MODIFICATION FOR MAKING 2 COLUMN LAYOUT, VERSION BETA
-------------------------------------------------------------------------------------*/


/* ----- CONTAINERS: BACKGROUND ------------------------------------------ */
#background-layer-delta {
	display: block;			/* Set to none to use with jQuery fadeIn FX; if JS not available on client, detect and add this CSS mod file */
}

/* ----- FOOTER: BRANDING BAR */
#footer-beta {
	display: block;
}

		
/* EXPLANATIONS AND EXAMPLES
-------------------------------------------------------------------------------------*/


/* ----- CSS GUIDELINES & COMPRESS THIS CSS FILE ----- */

	/*
	CSS Guidelines: http://chalkboard.ic.ncs.com/confluence/pages/viewpage.action?pageId=51650000
	
	Do not forget to duplicate and compress this CSS file for production.  Compress
	removes comments and extra lines, thus reducing overall file sizes and optimizes
	front-end performance and response times.
	
	Example: http://www.cssdrive.com/index.php/main/csscompressor
	*/